	.alert_wrapper{
		position:fixed;
		top:20px;
		left:50%;
		z-index:5;
	}
	
	.alert{
		padding:10px 40px;
		text-align:center;
		box-shadow:2px 2px 2px 2px #777;
		border-radius:4px;
		font-size:1em;
		display:none;
	}
	
	.success_alert{
		border:1px solid rgba(13, 0, 112, 1);
		background-color:rgba(13, 0, 112, 1);
		color:white;
	}
	
	.danger_alert{
		border:1px solid rgba(224, 0, 0, 1);
		background-color:rgba(244, 0, 0, 1);
		color:white;
	}
	
	.text_area_wrapper{
		position:relative;
		padding:5px;
		border:1px solid #ccc;
		border-radius:4px;
	}
	
	.text_area_wrapper textarea{
		border:1px solid transparent!important;
		outline:none!important;
		resize:none;
		padding:2px;
	}
	
	.letter_counter{
		position:absolute;
		bottom:0;
		right:0;
	}
	.ta-editor {
		min-height: 300px;
		height: auto;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
		width:100px;
	}
